
.card {
    border: .1em solid gray;
    /* border-left: 5px solid cadetblue; */
    border-radius: 10px ;
    background-color: rgb(86, 94, 94);
    
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
    padding: .5em;
}
.card-body{
    color: white;
}
/* .mat-card:hover {
    cursor: pointer;
    box-shadow: gray 1px 1px 1px 1px;
}  */

.card:hover {
    cursor: pointer;
    box-shadow: gray 1px 1px 1px 1px;
}

